
body{
    background-color: grey;
}

.reordenar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* pc */
.limites_visuais{
    border: solid black 12px;
    border-radius: 12px;
    padding: 3%;
    background-color: 	#c0b89b;
}
#stand{
    border: solid black 12px;
    width: 10vw;
    height:5vw;
    background-color:#c0b89b;
}
#base{
    border: solid black 12px;
    width: 50vw;

}
.tituloDiv{
    display: flex;
    justify-content: center;
}
#titulo{
margin: 0;
}
.cava{
    border: solid black 3px;
    background-color: white;
}
.acoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#SDraw{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:10rem;
    width: 6vw;
    font-size: large;
    transition: 500ms;
    background-color: green;
}
#SDraw:hover{
    width: 6vw;
    background-color: red;
}
#icon{
    width: 20px;
}