
body{
    background-color: grey;
}

.reordenar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limites_visuais{
    border: solid black 12px;
    border-radius: 12px;
    padding: 3%;
}

.cava{
    border: solid black 3px;
    background-color: white;
}
.acoes{
    display: flex;
    flex-direction: row;
}
#SDraw{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:10rem;
    width: 6vw;
    font-size: large;
    transition: 500ms;
    background-color: green;
}
#SDraw:hover{
    width: 6vw;
    background-color: red;
}
#icon{
    width: 20px;
}